
.meals-bg{
    p{
        
        color: #fff;
        font-size: 24px;
        line-height : 25px;
    }
    h2{
        margin-top: 40px;
        color: #fff;
        font-size: 24px;
        font-weight: 700;
    }
    h3{
        color: #fff;
        font-size: 24px;
        font-weight: 700;
    }
    img{
        margin-left: -15px;
        float: left;}
    button{
            letter-spacing: 3px;
            font-size: 25px;
            background-color: #030303;
            color: #fefefe;
            font-family: Font-Bold ;
            font-style: italic;
            text-align: right;
            display:block;
            position: absolute; right: 0;
    }
}

.vision-bg{
    .line{
        border-top: solid 5px red;
        height: 5px;
        z-index: 999999;
        width: 100%;
    }
    p{
        line-height: 25px;
        margin-top: 40px;
        color: #fff;
        font-size: 24px;
    }
    h1{
        line-height: 115px !important;
        margin-left: 40px;
        margin-top: 40px;
        color: #fff;
        font-size: 150px;
        font-weight: 700;
        font-family: Font-Bold;
        src: url(../fonts/BebasNeueBold.ttf);
    }
}

.athlet-bg{
    
    p{
        
        color: #fff;
        font-size: 17px;
        font-weight: 200;
        line-height: 10px;
        

    }
    h2{
        line-height: 15px;
        transform: skew(-15deg);
        margin-top: 20px;
        color: #fff;
        font-size: 40px;
        font-weight: 700;
    }
    h3{
        transform: skew(-15deg);
        color: red;
        font-size: 40px;
        font-weight: 700;
    }
    img{
        margin-left: -15px;
        float: left;
    }

}

.sponsor-bg{
    .line{
        border-top: solid 5px #fefefe;
        height: 5px;
        z-index: 999999;
        width: 100%;
        margin-bottom: 50px;
    }
    
    img{
        
        width: 100%;
        display: block;
        margin: auto;
    }
}

.Buytickets2{
    button{
    letter-spacing: 3px;
    transform: skew(-10deg);
    font-size: 35px;
    background-color: red;
    color: #fefefe;
    font-family: Font-Bold ;
    font-style: italic;
    text-align: center;
    display:block;

    &:hover {
    animation: mymove 5s infinite;
    letter-spacing: 5px;
    }
   

    }
    .line{
        border-top: solid 5px #fefefe;
        height: 5px;
        z-index: 999999;
        width: 100%;
        margin-bottom: 50px;
    }
    img{
        margin-top: 30px;    
        width: 100%;
        display: block;
        margin-bottom: 30px;  
    }
    h1{
        transform: skew(-15deg);
        margin-top: 40px;
        color: gray;
        font-size: 20px;
        font-weight: 700;
    }
}

.Contact{
    button{
    letter-spacing: 3px;
    transform: skew(-10deg);
    font-size: 35px;
    background-color: red;
    color: #fefefe;
    font-family: Font-Bold ;
    font-style: italic;
    text-align: center;
    display:block;

    &:hover {
    animation: mymove 5s infinite;
    letter-spacing: 5px;
    }
   

    }
    .line{
        border-top: solid 5px #fefefe;
        height: 5px;
        z-index: 999999;
        width: 100%;
        margin-bottom: 50px;
    }
    img{
        margin-top: 30px;    
        width: 100%;
        display: block;
        margin-bottom: 30px;  
    }
    h2{
        transform: skew(-10deg);
        margin-top: 20px;
        color: #fff;
        font-size: 40px;
        font-weight: 700;
        text-align: center;
        font-family: Font-Bold ;
        font-style: italic;
    }
    p{
        font-family: Font-Bold ;
        font-style: italic;
        color: #fff;
        font-size: 22px;
        font-weight: 700;
    }
    input{
    margin-left: 30px;
    letter-spacing: 3px;
    font-size: 20px;
    color: black;
    font-family: Font-Bold ;
    font-style: italic;
    text-align: center;
    width: 70%;
    }
    .checkbox{
        margin-left: 0px;
        width: 20%;
    }
    textarea{
    width: 70%;
    letter-spacing: 3px;
    font-size: 20px;
    color: black;
    font-family: Font-Bold ;
    font-style: italic;
    text-align: center;
    }
}

.Terminos{
    
    p{
        margin-top: 150px;
        font-family: Font-Bold ;
        font-style: italic;
        color: #fff;
        font-size: 16px;
        text-align: justify;
    }
    button{
    letter-spacing: 3px;
    transform: skew(-10deg);
    font-size: 35px;
    background-color: red;
    color: #fefefe;
    font-family: Font-Bold ;
    font-style: italic;
    text-align: center;
    display:block;

    &:hover {
    animation: mymove 5s infinite;
    letter-spacing: 5px;
    }
    }
}