@font-face {
    font-family: Font-Bold;
    src: url(../fonts/BebasNeueBold.ttf);
    }

@font-face {
        font-family: Font-Italic;
        src: url(../fonts/ArialItalic.ttf);
        }



.Runners img{
    
display:block;
margin:auto;
    
   
}

.TextRu{
    z-index: 99999999999;
    margin-top: -260px !important;
    display:block;
    margin:auto;
}

.txt-runner{
    font-family: Font-Bold ;
    font-style: italic;
    color: #fefefe;
    text-align: center;
    font-size: 35px;
    line-height : 35px;
}