.location-bg{
    background-color: hsl(173, 31%, 16%) ;
    height: 100px;

    p{
        padding: 15px;
        color: #fefefe;
        font-size: 25px;
    }

    img{
        margin-top: -37px;
        max-width: 55%;
        float: right;}
}