body{
    background: url("../../img/bg.cayetano.png"), $bg_dark;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.logosvg img{
    max-width: 50%;
    float: right;
    

}

.txt-nav p{
    color: #fff;
    justify-content: start !important;
    margin-top: 50px;
}