@media only screen and (max-width: 600px) { 

    body{
        background: url("../../img/bg.cayetano-mb.png"), #030303  !important;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        height: 100vh !important;
    }

    .Runners img{
    
        display:block;
        margin:auto;
        max-width:100%;
        }


        .TextRu {
            z-index: 99999999999;
            margin-top: -260px !important;
            display: block;
            margin: auto;
            padding-top: 140px;
            max-width: 60%;
        }

        .meals-bg img {
            margin-left: -15px;
            float: left;
            max-width: 100vw;
        }

        .location-bg p {
            padding: 15px;
            color: #fefefe;
            font-size: 12px !important;

 }

 .location-bg{
    height: 88px !important;
 }

.location-bg img {
    margin-top: -10px !important; 
    float: right;
    max-width: 120% !important;
    margin-right: -24px;
}

#BuyTicket2{
    display: none;
}

.vision-bg h1{
     margin-left: 0px !important;
}

.txt-runner{
    margin-top: 20px;
    font-size: 20px !important;
    line-height : 25px !important;
}

.countdown{
       
    justify-content: center;
    font-size: 25px !important;
    padding: 2px !important;
    margin-top: 20px;
}
.countdown section P{
    color: #fff;
    font-size: 45px !important;
    line-height: 32px !important;
    margin: 0;
    padding: 0;
    line-height: 0.5;
}

.Buytickets button {
    letter-spacing: 3px;
    transform: skew(-10deg);
    font-size: 35px;
    padding: 9px 5% 10px;
    background-color: red;
    color: #fefefe;
    font-family: Font-Bold;
    font-style: italic;
    text-align: center;
    display: block;
    margin: auto;
    margin-top: -20px !important;
}

.athlet-bg h2{

    line-height: 35px !important;
    transform: skew(-15deg);
    margin-top: 20px;
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    
}

}